// LIGHT MODE
$light-mode-text-color: #374e73;
$light-mode-nav-background-color: #f6f6f6;
$light-mode-background-color: #ebebeb;

// DARK MODE
$dark-mode-text-color: #fff;
$dark-mode-nav-background-color: #1E1E1E;
$dark-mode-background-color: #161616;

// THEMES COLORS
$green: #14b68f;
$orange: #e26b14;
$pink: #b50057;
$red: #b50000;
$blue: #004dc1;
$yellow: #ffc300;

// OTHERS
$border-color: #c6c6c6;
