// LIGHT MODE
$light-mode-text-color: #374e73;
$light-mode-nav-background-color: #f6f6f6;
$light-mode-background-color: #ebebeb;

// DARK MODE
$dark-mode-text-color: #fff;
$dark-mode-nav-background-color: #1E1E1E;
$dark-mode-background-color: #161616;

// THEMES COLORS
$green: #15c99f;
$orange: #FF8C52;
$pink: #FF52B6;
$red: #FF5252;
$blue: #5271FF;
$yellow: #FFD700;

// OTHERS
$border-color: #c6c6c6;